
/*Text: 1A1A1A
Green: #00B172
White: #FFF*/

body {
    font: 16px 'Roboto', Arial, Helvetica;
}

.header {
    /* layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* box-model */
    padding: 1rem 1.5rem;

    /* presentation */
    background: #fff;
}
    .logo{
        /* box-model */
        width: 200px;
    }
    
    .nav{
        /* layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

        .nav a {
            /* typo */
            font-size: 20px;
            text-decoration: none;
            color: #333;
            font-weight: 200;
        }

.container{
    background: blue;
}

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: url('../images/landing.jpg') no-repeat center center;
        background-size: cover;
        height: 70vh;
        width: 100%;
    }
        .title{
            font-size: 5rem;
            font-weight: 700;
            color: #fff;
            margin-bottom: 1rem;
        }

        .description{
            font-size: 2rem;
            font-weight: 300;
            color: #fff;
        }

    .features{

    }
        .subtitle{

        }

        .features-list{

        }
            .feature-title{

            }

            .feature-description{

            }
    .spotify-app{

    }
        .subtitle{

        }

        .spotify-app-list{

        }
            .app-feature-title{

            }

            .app-feature-description{

            }

        .app-image{

        }